In [7]:
import numpy as np
import random
import pandas as pd

In [138]:
x=pd.read_csv('Diabaties.csv')
x

      Unnamed: 0  age  diabaties
0              0   37          1
1              1   62          0
2              2   30          0
3              3   87          0
4              4   27          0
5              5   60          0
6              6   18          0
7              7   92          1
8              8   39          1
9              9   59          1
10            10   37          0
11            11   54          0
12            12    2          0
13            13   94          0
14            14   11          1
15            15   57          0
16            16   13          1
17            17   82          1
18            18   24          0
19            19   62          0
20            20   31          1
21            21   97          0
22            22   22          1
23            23   52          1
24            24   14          1
25            25   90          1
26            26   10          1
27            27   84          1
28            28   13          0
29            29   77          0
...          ...  ...        ...
1970        1970   43          0
1971        1971   93          0
1972        1972   32          1
1973        1973   74          1
1974        1974   14          1
1975        1975   80          1
1976        1976    2          0
1977        1977   52          0
1978        1978   42          1
1979        1979   48          0
1980        1980    4          0
1981        1981   95          0
1982        1982   38          0
1983        1983   91          1
1984        1984   36          0
1985        1985   59          0
1986        1986   24          0
1987        1987   99          0
1988        1988   32          1
1989        1989   63          1
1990        1990   20          0
1991        1991   57          1
1992        1992   17          0
1993        1993   94          0
1994        1994   34          0
1995        1995   60          1
1996        1996   46          1
1997        1997   50          0
1998        1998   23          1
1999        1999   74          1

[2000 rows x 3 columns]

In [52]:
del(x['Unnamed: 0'])

In [100]:
x.head(2)

   age  diabaties
0   37          1
1   62          0

In [106]:
samples=x.iloc[:,0].values
labels=x.iloc[:,1].values

# Keras accepts arrays

In [107]:
array_samples=np.array(samples)
array_labels=np.array(labels)

In [108]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [109]:
scalar=MinMaxScaler(feature_range=(0,1))

In [110]:
samples_scalar=scalar.fit_transform((array_samples).reshape(-1,1))

In [111]:
print(samples_scalar) #

[[0.36363636]
 [0.61616162]
 [0.29292929]
 ...
 [0.49494949]
 [0.22222222]
 [0.73737374]]

In [148]:
trainx,testx,trainy,testy=train_test_split(samples_scalar,array_labels,test_size=0.2,random_state=0)
trainx,trainy

(array([[0.15151515],
        [0.49494949],
        [0.64646465],
        ...,
        [0.55555556],
        [0.78787879],
        [0.14141414]]), array([0, 0, 0, ..., 0, 1, 0]))

# Importing Keras to train the model

In [113]:
from keras import Sequential
from keras import models,layers,optimizers

In [114]:
network=Sequential()

In [171]:
network.add(layers.Dense(160,activation='relu',input_shape=(1,)))
network.add(layers.Dense(32,activation='relu'))
network.add(layers.Dense(2,activation='softmax'))

In [137]:
network.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 16)                32
_________________________________________________________________
dense_5 (Dense)              (None, 32)                544
_________________________________________________________________
dense_6 (Dense)              (None, 2)                 66
_________________________________________________________________
dense_7 (Dense)              (None, 32)                96
_________________________________________________________________
dense_8 (Dense)              (None, 2)                 66
_________________________________________________________________
dense_9 (Dense)              (None, 100)               300
_________________________________________________________________
dense_10 (Dense)             (None, 2)                 202
_________________________________________________________________
dense_11 (Dense)             (None, 16)                48
_________________________________________________________________
dense_12 (Dense)             (None, 32)                544
_________________________________________________________________
dense_13 (Dense)             (None, 2)                 66
_________________________________________________________________
dense_14 (Dense)             (None, 16)                48
_________________________________________________________________
dense_15 (Dense)             (None, 32)                544
_________________________________________________________________
dense_16 (Dense)             (None, 2)                 66
=================================================================
Total params: 2,622
Trainable params: 2,622
Non-trainable params: 0
_________________________________________________________________

In [170]:
opt=optimizers.adam(lr=0.0001)
network.compile(optimizer=opt,loss='sparse_categorical_crossentropy',metrics=['accuracy'])

- By setting the verbose to 0 1 or 2, it denotes how you want to see the progess of each  batch
- verbose 0 shows you nothing
- verbose 1 shows you animated lines like [========================]
- verbose 2 shows you number of epochs like 1/20 Epochs

In [172]:
network.fit(trainx,trainy,batch_size=10,epochs=20,verbose=1)

Epoch 1/20
1600/1600 [==============================] - 2s 1ms/step - loss: 0.6938 - acc: 0.5081
Epoch 2/20
1600/1600 [==============================] - 1s 325us/step - loss: 0.6934 - acc: 0.5081
Epoch 3/20
1600/1600 [==============================] - 1s 332us/step - loss: 0.6934 - acc: 0.5081
Epoch 4/20
1600/1600 [==============================] - 1s 336us/step - loss: 0.6933 - acc: 0.4994
Epoch 5/20
1600/1600 [==============================] - 1s 349us/step - loss: 0.6933 - acc: 0.5081
Epoch 6/20
1600/1600 [==============================] - 1s 337us/step - loss: 0.6934 - acc: 0.4994
Epoch 7/20
1600/1600 [==============================] - 1s 336us/step - loss: 0.6934 - acc: 0.5081
Epoch 8/20
1600/1600 [==============================] - 1s 322us/step - loss: 0.6935 - acc: 0.5081
Epoch 9/20
1600/1600 [==============================] - 1s 335us/step - loss: 0.6933 - acc: 0.5081
Epoch 10/20
1600/1600 [==============================] - 1s 319us/step - loss: 0.6933 - acc: 0.5006
Epoch 11/20
1600/1600 [==============================] - 1s 322us/step - loss: 0.6934 - acc: 0.5081
Epoch 12/20
1600/1600 [==============================] - 1s 330us/step - loss: 0.6934 - acc: 0.4981
Epoch 13/20
1600/1600 [==============================] - 1s 329us/step - loss: 0.6935 - acc: 0.5081
Epoch 14/20
1600/1600 [==============================] - 1s 327us/step - loss: 0.6934 - acc: 0.5081
Epoch 15/20
1600/1600 [==============================] - 1s 333us/step - loss: 0.6934 - acc: 0.4906
Epoch 16/20
1600/1600 [==============================] - 1s 411us/step - loss: 0.6934 - acc: 0.5081
Epoch 17/20
1600/1600 [==============================] - 1s 378us/step - loss: 0.6932 - acc: 0.4906
Epoch 18/20
1600/1600 [==============================] - 1s 525us/step - loss: 0.6932 - acc: 0.5081
Epoch 19/20
1600/1600 [==============================] - 1s 343us/step - loss: 0.6934 - acc: 0.4994
Epoch 20/20
1600/1600 [==============================] - 1s 314us/step - loss: 0.6935 - acc: 0.5081

In [156]:
trainy.shape

(1600,)

In [157]:
ty=trainy.copy()

In [160]:
ty2=ty.reshape(1600,1)

In [159]:
ty

array([0, 0, 0, ..., 0, 1, 0])